<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interlexical</title>
  @vite(['resources/css/app.css'])
</head>
<body>
  <h1>{{ wotd.word }}</h1>
  <p>{{ wotd.part_of_speech }}</p>
  <p>{{ wotd.definition }}</p>
  <p>{{ wotd.example_sentence }}</p>
  <p>{{ wotd.etymology }}</p>
</body>
</html>
