<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interlexical - Word of the Day</title>
  @vite(['resources/css/app.css'])
</head>
<body>
  <header class="heading">
    <h1 class="heading__title">Interlexical</h1>
    <p class="heading__subtitle">Word of the Day</p>
  </header>

  <main>
    <article class="container">
      <h2 class="container__title">{{ wotd.word }}</h1>
      @if(wotd.pronunciation)
        <p class="container__text">{{ wotd.pronunciation }}</p>
      @endif
      <i class="container__text">{{ wotd.part_of_speech }}</i>
      <p class="container__text">{{ wotd.definition }}</p>
      <blockquote class="container__text">{{ wotd.example_sentence }}</blockquote>
      <p class="container__text">{{ wotd.etymology }}</p>
    </article>
  </main>
</body>
</html>
