<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Discover a new word every day with Interlexical. Your daily word exploration app for expanding vocabulary and learning language.">
  <title>Interlexical - Word of the Day</title>
  <meta name="theme-color" content="#0f1b26">
  @vite(['resources/css/app.css'])
  <link rel="icon" href="/favicon.ico" sizes="48x48">
  <link rel="icon" href="/interlexical.svg" sizes="any" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png">
  <link rel="manifest" href="/assets/manifest.webmanifest">
</head>
<body>
  <header class="heading">
    <h1 class="heading__title">Interlexical</h1>
    <p class="heading__subtitle">Word of the Day</p>
  </header>

  <main>
    <article class="container">
      <h2 class="container__title">{{ wotd.word }}</h1>
      @if(wotd.pronunciation)
        <p class="container__text">{{ wotd.pronunciation }}</p>
      @endif
      <i class="container__text">{{ wotd.partOfSpeech }}</i>
      <p class="container__text">{{ wotd.definition }}</p>
      <blockquote class="container__text">{{ wotd.exampleSentence }}</blockquote>
      <p class="container__text">{{ wotd.etymology }}</p>
    </article>
  </main>
</body>
</html>
