@layout.app({ title: '404 - Page not found - Interlexical' })

@slot('main')
  <header class="heading">
    <h1 class="heading__title">Interlexical</h1>
      <p class="heading__subtitle">Word of the Day</p>
  </header>
  
  <main>
    <article class="container">
      <h2>404 - Page not found</h2>
      <p>The page you're looking for doesn't exist.</p>
    </article>
  </main>
@endslot
@end
